{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="post-preview">
  <p class="post-meta">
  Welcome! This list is grassroots, community-sourced, continually updated – via nominations – and not exhaustive. We aim to aid conference chairs and organizers in identifying speakers, panelists, and moderators for inclusion in conferences and workshops. Our research and technology focus is micro/nanofluidics and Bio-MEMS content. To nominate yourself or a colleague, please visit our ‘Nominate’ page.</p>
</div>

<div>
  {% for r in researcher %}
    <div class="researcher">
      
        <h5>{{ r.name|capfirst }} </h5> 
     
       <p>{{ r.institution }}, {{ r.position|capfirst }}, {{ r.country|capfirst }}, <a href="http://{{ r.website_link }}"> {{ r.website_link }} </a>, <a href="http://{{ r.linkedin_link }}"> {{ r.linkedin_link }} </a>, {{ r.level|capfirst }}, {{ r.des|capfirst }}
       </p> 
 
    </div>
  {% endfor %}
</div>

{% endblock %}