{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="post-preview">
  <p class="post-meta">
  Welcome! This list is grassroots, community-sourced, continually updated – via nominations – and not exhaustive. We aim to aid conference chairs and organizers in identifying speakers, panelists, and moderators for inclusion in conferences and workshops. Our research and technology focus is micro/nanofluidics and Bio-MEMS content. To nominate yourself or a colleague, please visit our ‘Nominate’ page.</p>

  <br>
</div>

<div>
  {% for r in researcher %}
    <div class="researcher">
      
        <h5>{{ r.name|title }} </h5> 
     
       <p>{{ r.level }}, {{ r.position|title }}, {{ r.institution }}, {{ r.country|capfirst }}, <a href="http://{{ r.website_link }}"> Website</a>, <a href="http://{{ r.linkedin_link }}"> LinkedIn</a>, <i>{{ r.des|capfirst }}</i>
       </p> 
 
    </div>
  {% endfor %}
</div>

{% endblock %}