{% extends "base.html" %}
{% load static %}
{% block header_styles %}
  <style>
    header.masthead {
      background-image: url({% static 'img/home-bg.jpg' %});
    }
  </style>
{% endblock %}
{% block content %}

<div class="post-preview">
  <p class="post-meta">
  Welcome! This list is an evolving (non-exhaustive) compendium of female industry and academic researchers. We aim to raise the profile of women leading research in micro/nanofluidics and Bio-MEMS. To nominate yourself or multiple colleagues, please visit our ‘Nominate’ page and share the Women in Microfluidics list with others, especially conference and workshop organizers and program committees (<a href="http://microfluidics.berkeley.edu">microfluidics.berkeley.edu</a>). Thank you! </p>
  <br>
</div>

<div>
  {% for r in researcher %}
    <div class="researcher">
      
        <h5>{{ r.name|title }} </h5> 
     
       <p>{{ r.level }}, {{ r.position|title }}, {{ r.institution }}, {{ r.country|capfirst }}, <a href="http://{{ r.website_link }}"> Website</a>, <a href="http://{{ r.linkedin_link }}"> LinkedIn</a>, <i>{{ r.des|capfirst }}</i>
       </p> 
 
    </div>
  {% endfor %}
</div>

{% endblock %}
