{% extends "base.html" %}

{% block content %}
<h1>Accept your nomination</h1>
<!--
<script>
window.onload = function() {
	var inputs = ["name","email","institution","position","website","linkedin","country"];
	var arrayLength = inputs.length;
	for (var i = 0; i < arrayLength; i++) {
	    	name = inputs[i];
	   	 var oneInput = document.getElementById(name);
	    	oneInput.addEventListener("input",function (event) {
			if (oneInput.validity.typeMismatch) {
				if (name == "email"){
					oneInput.setCustomValidity("Please input a valid email");
				}
				else if (name == "website" || name == "linkedin"){
					oneInput.setCustomValidity("Please ensure this link is correct");
				}
				else{
					oneInput.setCustomValidity("Please fill the required field");
				}
			} else {
				oneInput.setCustomValidity("");
			}
	   	 });
	}
}
</script>
-->

<br>
 <p1 align="justify">
 
 <p><b>Congratulations!</b> You have been nominated for inclusion in the <i>Women</i> <i>in</i> <i>Microfluidics</i> list. We focus on independent researchers in the micro/nanofluidics and Bio-MEMS areas. To accept and be included on the <i>Women</i> <i>in</i> <i>Microfluidics</i> list, simply submit the form below. Beyond displaying your information on our website, we will not share your information further.</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    
<p><label for="id_name">Name:</label> <input type="text" name="name" required="" id="id_name" size ="40"></p>
<p><label for="id_email">Email:</label> <input type="email" name="email" required="" id="id_email" size ="40"></p>
<p><label for="id_institution">Institution:</label> <input type="text" name="institution" required="" id="id_institution" size ="40"></p>
<p><label for="id_position">Position:</label> <input type="text" name="position" required="" id="id_position" size ="40"></p>
<p><label for="id_website">Website URL(optional):</label> <input type="text" name="website" size = "40" placeholder="https://www.example.com" id="id_website"
											 required pattern="(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
		                title="Please input a valid URL"></p>
<p><label for="id_linkedin">LinkedIn URL:</label> <input type="text" name="linkedin" size="40" placeholder = "https://www.linkedin.com/in/your_id" required="" id="id_linkedin"			 
	required pattern="(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)"
		                title="Please input a valid URL"></p>
<p><label for="id_country">Country:</label> <input type="text" name="country" size = "40" required="" id="id_country"></p>
<p><label for="id_level">Level:</label> <select name="level" id="id_level" required>
	<option value="">None</option>  
	<option value="Assistant Professor">Assistant Professor</option>

	    <option value="Associate Professor">Associate Professor</option>

	      <option value="Full Professor">Full Professor</option>

	        <option value="Senior Industry Scientist">Senior Industry Scientist</option>

</select></p>
<p style="
    margin-bottom: 0px;
    "><label for="id_description">Research interests (max. characters 200):</label> <textarea name="description" cols="40" maxlength="200" required="" rows="5" id="id_description"></textarea></p>
<p style="
    font-size: 15px;
        margin-top: 0px;
	" id="charpsan"><span id="chars">200</span> characters remaining</p>
<!--     <table cellspacing="0">
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominators_email">Email:</label></td>
                    <td><input type="text" id="email" name="email"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
               
                <tr>
                    <td><label for="nominees_name">Institution:</label></td>
                    <td><input type="text" id="institution" name="school"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominees_email">Position:</label></td>
                    <td><input type="text" id="position" name="pos"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">Website:</label></td>
                    <td><input type="text" id="website" name="web"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">LinkedIn:</label></td>
                    <td><input type="text" id="linkedin" name="li"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">Country:</label></td>
                    <td><input type="text" id="country" name="country"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	              <tr>
	              <td><label for="level">Level:</label></td>
	              
	           	</tr>
	         <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              	<tr>
	              <td><label for="level">Keywords:</label></td>
	              <td><textarea rows="2" cols="25" placeholder="Max 5 words, separated by comma delimiters"></textarea></td>
	           	</tr>
            </table> -->
	
	    <p> Before submitting, please double check that the information entered is as you would like it to appear.</p>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<div class="g-recaptcha" data-sitekey="6LfA3n4UAAAAADCPo2-R6MnO4NgnCX1aSkFSDXPO"></div>

	<script>

	window.onload = function() {
	    var $recaptcha = document.querySelector('#g-recaptcha-response');

	        if($recaptcha) {
			        $recaptcha.setAttribute("required", "required");
				    }
};

// Doing error handling on form submit won't work here because the validation blocks the submit event from firing.

//Get all the inputs...
const inputs = document.querySelectorAll('input, select, textarea');

// Loop through them...
for(let input of inputs) {
	  // Just before submit, the invalid event will fire, let's apply our class there.
	  input.addEventListener('invalid', (event) => {
		      input.classList.add('error');    
		        }, false);
	    
	    // Optional: Check validity onblur
	    input.addEventListener('blur', (event) => {
		        input.checkValidity();
			  })

}




	</script>
   	<button type="submit">Submit</button>
</form>
<script src='https://www.ocf.berkeley.edu/~microfluidics/static/js/char-count.js'></script>
{% endblock %}
