{% extends "base.html" %}

{% block content %}

<h1>Accept your nomination</h1>

<br>
 <p1 align="justify"> <b>Congratulations!</b> You have been nominated for inclusion in the <i>Women in Microfluidics list</i>. This list is grassroots, community-sourced, continually updated – via nominations – and not exhaustive. Our list is developed to aid organizers of conferences, workshops, and university seminar series/symposia in identifying women participants.  The primary goal is to highlight women who might serve as board members, conference chairs, program committee members, speakers, panelists, and moderators. We focus on micro/nanofluidics and Bio-MEMS leaders, so in an independent position.  If you would like to accept the nomination and be included on the Women in Microfluidics list, simply submit this form. Before submitting, please double check that the information you have entered is as you would like it to appear. Beyond displaying your information on our website, we will not share your information further. </p1><br>
 <p1><b>Instructions:</b> for your keywords description, please use a maximum of five words and use commas as delimeters. For both your LinkedIn and Website links, please omit 'www.' or 'http://'<p1>



<form role="form" action="" method="post">
    {% csrf_token %}
    
    {{ form.as_p }}
<!--     <table cellspacing="0">
                <tr>
                    <td><label for="name">Name:</label></td>
                    <td><input type="text" id="name" name="name"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominators_email">Email:</label></td>
                    <td><input type="text" id="email" name="email"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
               
                <tr>
                    <td><label for="nominees_name">Institution:</label></td>
                    <td><input type="text" id="institution" name="school"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominees_email">Position:</label></td>
                    <td><input type="text" id="position" name="pos"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">Website:</label></td>
                    <td><input type="text" id="website" name="web"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">LinkedIn:</label></td>
                    <td><input type="text" id="linkedin" name="li"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr>
                    <td><label for="nominees_email">Country:</label></td>
                    <td><input type="text" id="country" name="country"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	              <tr>
	              <td><label for="level">Level:</label></td>
	              
	           	</tr>
	         <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              	<tr>
	              <td><label for="level">Keywords:</label></td>
	              <td><textarea rows="2" cols="25" placeholder="Max 5 words, separated by comma delimiters"></textarea></td>
	           	</tr>
            </table> -->
    <button type="submit" onclick="return confirm('Once you select ‘OK’ your information will be added to the list and you will not have another chance to edit.')">Submit</button>
</form>
{% endblock %}
