{% extends "base.html" %}
{% load static %}

{% block header_styles %}
  <style>
    header.masthead {
      background-image: url({% static 'img/nominate-bg.jpg' %});
    }
  </style>
{% endblock %}

{% block content %}


<h2>Nominate Yourself or Someone Else</h2>

<p>Please complete the nomination form below. We are seeking research-focused nominees, including established industry professionals and Academics (Assistant, Associate, Full Professor, to Emerita rank). Please note: Each Nominee will be contacted after nomination via automated email to confirm nomination acceptance and inclusion on our Women in Microfluidics list. We will let Nominees know who nominated them, but Nominator information will not be shared publicly.</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    <!-- {{ form.as_p }} -->
    <table cellspacing="0">
                
	   

	    <tr>
		    <td><label for="Nominator"><b>Nominator</b></label></td>
	    </tr>	                    
	      <tr>
	      	<td><label for="nominators_full_name">Name:</label></td>
                    <td><input type="text" id="nominators_full_name" name="nominators_full_name"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominators_email">Email:</label></td>
                    <td><input type="text" id="nominators_email" name="nominators_email"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	      <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	      <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	      <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	      <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
               <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
	      <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              
	      <tr>

		    <td><label for="Nominee"><b>Nominee</b></label></td>
		</tr>		    
	      <tr>
	      	    <td><label for="nominees_name">Name:</label></td>
                    <td><input type="text" id="nominees_name" name="nominees_name"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                <tr>
                    <td><label for="nominees_email">Email:</label></td>
                    <td><input type="text" id="nominees_email" name="nominees_email"></td>
                </tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
              <tr class="spacer"><td></td></tr>
                
            </table>
	<script src='https://www.google.com/recaptcha/api.js'></script>
	<div class="g-recaptcha" data-sitekey="6LfA3n4UAAAAADCPo2-R6MnO4NgnCX1aSkFSDXPO"></div>

    <button type="submit">Submit</button>
</form>
{% endblock %}

