{% extends "base.html" %}
{% block title %}Nominate - {

{ block.super }}

{% endblock %}


{% block content %}

<h1>Your information as a Nominator</h1>
<h3>Self-nominations accepted </h3>
<p>Please complete the following information regarding the individual you are nominating. We are seeking research-focused nominees, including established industry professionals and Academics (Assistant, Associate, through Full Professor rank). The Nominee will be contacted subsequent to your submission, to confirm their acceptance of the nomination.</p>
<form role="form" action="" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
</form>
{% endblock %}
