<p> Dear {{ nominee_name }},<br> <br>

Congratulations! You have been nominated by {{ nominator }} for our Women in Microfluidics list (microfluidics.berkeley.edu). <br> <br>

<i>What is the Women in Microfluidics list?</i> We are faculty and researchers who are eager to support and enhance representation of women in our field. We are developing the list to assist anyone in a position of suggesting or selecting speakers with identifying world class researchers (nominated by their peers) for inclusion in conference, workshop, or university programming or leadership (inspired colleagues in Neuroscience and <a href="anneslist.net">anneslist.net</a>, as covered in the <a href="https://www.nytimes.com/2016/09/06/science/gender-bias-scientific-conferences.html"> New York Times</a>. <br> <br>

<i>Why have you been nominated?</i> One of your colleagues sees you as a notable contributor to our field and took the time to nominate you. Our list is composed of research-focused, world class nominees, including established industry professionals and Academics (Assistant, Associate, Full Professor, to Emerita rank). So, if you would like to be included in our <i>Women in Microfluidics</i> list, please go to <a href="microfluidics.berkeley.edu/nomineeinfo">microfluidics.berkeley.edu/nomineeinfo</a> to accept your nomination. We respect your privacy and will not share your information beyond our <i>Women in Microfluidics website</i>.  <br><br>

If you would like to nominate a stellar female colleague (or colleagues!) for inclusion on the <i>Women in Microfluidics</i> list, please do so after accepting your own nomination. <br><br>

Sincerely, <br>
Amy E. Herr, Ph.D. on behalf of the <i>Women in Microfluidics</i> list
</p>



