<p style="margin-top:0in;margin-bottom:0in;font-size:12.0pt;font-family:Arial,sans-serif;color:#222222;background:white">Dear {{ nominee_name}},<br> <br>

Thank you for ‘self-nominating’ to our <i>Women in Microfluidics & BioMEMS List</i> (<a href="https://microfluidics.berkeley.edu">microfluidics.berkeley.edu</a>). <b>To complete your self-nomination</b>, enter your information now: <a href="https://microfluidics.berkeley.edu/nomineeinfo/">https://microfluidics.berkeley.edu/nomineeinfo/</a><br> <br>


<b>Why have you been nominated and what is the <i>Women in Microfluidics & BioMEMS List?</i></b> <br>

A colleague took the time to nominate you as they consider you an important contributor to our field. The <i>Women in Microfluidics & BioMEMS List</i> is a community-created resource created to enhance the quality of scientific programs & representation of women in our field. The <i>Women in Microfluidics & BioMEMS List</i> provides a summary of research leaders – is designed to assist conference organizers with creating excellent conference offerings by highlighting women who could be included in scientific programs (e.g., plenary/keynote speakers, panelists, organizing committee members, session chairs, poster judges) and leadership positions.  The <i>Women in Microfluidics & BioMEMS List</i> is inspired by the positive influence of <a href="anneslist.net">anneslist.net</a>, created by colleagues in neuroscience. <br> <br>

 

<b>If you accept your nomination, please save this email for two reasons:</b> <br></p>
<ol style="margin-top:0in;margin-bottom:0in;font-size:12.0pt;font-family:Arial,sans-serif;color:#222222;background:white" start="1" type="1">
	<li style="margin-top:0in">To update your entry later (e.g., when you are promoted!): Revise your information form using: (1) the email address you used to accept your nomination (we use this email to identify/access your entry) and (2) your updated information. Access the information form here: <a href="https://microfluidics.berkeley.edu/nomineeinfo/">https://microfluidics.berkeley.edu/nomineeinfo/</a> </li> 
	<li>To change the email address associated with your entry (e.g., if you move institutions), please <u>reply to this email</u> with <b>both</b> the email address used when originally entering your information and your new email address.</li></ol> <br>
<p style="margin-top:0in;margin-bottom:0in;font-size:12.0pt;font-family:Arial,sans-serif;color:#222222;background:white">
Join our effort to strengthen our community & the science we contribute (it’s easy)! <br>
</p>
<ul style="margin-top:0in;margin-bottom:0in;font-size:12.0pt;font-family:Arial,sans-serif;color:#222222;background:white" type="disc">
	<li style="margin-top:0in"> To nominate stellar female/identifying colleagues for inclusion on the <i>Women in Microfluidics & BioMEMS List</i>, go here: <a href="https://microfluidics.berkeley.edu/nominate/">https://microfluidics.berkeley.edu/nominate/</a> </li>
	<li> To spread the word about this growing resource – including to the organizers of conferences/workshops/symposia you value. Direct others here: <a href="microfluidics.berkeley.edu">microfluidics.berkeley.edu</a> </li> </ul> <br>

<p style="margin-top:0in;margin-bottom:0in;font-size:12.0pt;font-family:Arial,sans-serif;color:#222222;background:white">
To the best of our ability, we respect your privacy and will not share your information beyond what is viewable on the <i>Women in Microfluidics & BioMEMS List</i>. By completing your nomination, you agree to share your contact information publicly. <br> <br>

Thank you for your contributions to our field & for supporting this grass roots, <i>pro bono</i>, and lightly managed resource. Your patience is appreciated. -Amy E. Herr, Ph.D. @ UC Berkeley
</p>
