Dear {{ nominator }},<br> <br>

Thank you for nominating {{ nominee_name }} to our <i>Women in Microfluidics& BioMEMS List</i> (<a href="microfluidics.berkeley.edu">microfluidics.berkeley.edu</a>). <br> <br> If you would like to make another submission, please go to <a href="microfluidics.berkeley.edu/nominate">microfluidics.berkeley.edu/nominate</a>. If you would like to provide feedback on the nomination process, please fill out the form at <a href="microfluidics.berkeley.edu/feedback">microfluidics.berkeley.edu/feedback</a>. <br> <br>

Sincerely, <br>
Amy E. Herr, Ph.D. on behalf of the <i>Women in Microfluidics List</i>
</p>
